:root {
  --list-color: grey;
}
* {
  margin: 0;
  padding: 0;
}

input,
button {
  font-size: 16px;
}

html,
body {
  font-family: system-ui;
  font-size: inherit;
}

main {
  width: 100%;
  max-width: 360px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 2rem;
  font-size: 20px;
  font-family: system-ui;
  background-color: aqua;
}

.date {
  font-size: 18px;
  font-style: italic bold;
}

.todo-input-section {
  display: flex;
  width: 100%;
}

.todo-input {
  flex: 1;
  padding: 10px 6px;
  width: 100%;
}

.todo-input-button {
  font-size: 20px;
  padding: 10px 20px 6px;
  font-weight: bold;
  background-color: greenyellow;
}

.todo-list .todo-item {
  list-style-type: none;
}

.todo-list {
  color: var(--list-color);
}

.todo-item {
  display: flex;
}

.todo-item label {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.todo-item label :hover {
  color: blue;
}

.todo-item input {
  appearance: none;
  position: relative;
  display: block;
  background: rgb(154, 74, 224);
  height: 1.4rem;
  width: 2.4rem;
  border-radius: 2rem;
  box-shadow: 0px 1px 3px #0003 insert;
  transition: 0.15s linear background;
  cursor: pointer;
}

.todo-item input:before {
  content: "";
  display: block;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  background: #fff;
  height: 1rem;
  width: 1rem;
  border-radius: 1.2rem;
  box-shadow: 0px 1px 3px #0003;
  transition: 0.15s linear transform;
  transform: translateX(0rem);
}

.todo-item input:checked {
  background: green;
}

.todo-item input:checked:before {
  transform: translateX(1rem);
}

.todo-item input:focus-visible {
  outline: 2px solid dodgerblue;
  outline-offset: 2px;
}
